# Converting csv's to better csv's
This code's purpose it to take the CSV's generated in mathematica and just fix the format to be more python friendly so that it doesn't have to be ran in every code.

In [1]:
import numpy as np
import pandas as pd
import ast
from itertools import groupby

In [2]:
# we will sort the row of the dataframe by the length i.e. column 4
def sortbysize(x):
    return x[4]

## This section will use the file info_on_all_traces.csv from Mathematica to make the conversions

Cleans up the dataframe about all the traces making matrices as a list of lists and same for decomposition and replaces final_position with a boolean variable for if the element is a commutator or not, and sorts the reps by length

In [3]:
df=pd.read_csv("../CSV/info_on_traces.csv")
df.columns=['trace','admissible','matrix','decomp','length','final_position']
df['commutator']= pd.get_dummies(df['final_position'])['{0, 0}']

#convert the form of the matrices and decompositions
replacement_column=[0]*len(df.trace)
matrix_replacement_column=[0]*len(df.trace)
finalposition=[0]*len(df.trace)
for i in range(0, len(df.trace)):
    replacement_column[i]=ast.literal_eval(df.decomp.values[i].replace("{", "[").replace("}", "]"))
    matrix_replacement_column[i]=ast.literal_eval(df.matrix.values[i].replace("{", "[").replace("}", "]")) 
    finalposition[i]=ast.literal_eval(df.final_position.values[i].replace("{", "[").replace("}", "]"))

df['matrix']= matrix_replacement_column
df['decomp']=replacement_column
df["final_position"]=finalposition

#create a dataframe with of [trace, admissible, class number in L, class number in Gamma'(2)]
df_traces=df.copy()
df_traces.drop_duplicates(subset ="trace", keep = "first", inplace = True)
df_traces=pd.DataFrame({"trace": df_traces.trace, "admissible": df_traces.admissible, 'L_class_number': df.groupby(df.trace).length.count().values, 'commutator_class_number':df.groupby(df.trace).commutator.sum().values, "walks":df.groupby(df.trace).length.mean().values })


#sort the decompositions by narrow length and then length
newRows=[]
for t in df_traces.trace.values:
    #grab all of the rows in the dataframe with the same trace
    list_to_be_sorted=df.loc[df.trace==t].values.tolist()
    #if the number of pairs of powers of a and powers of b are small enough, then clearly this is
    # a 1-commutator and should be saved first
    first_portion=[line for line in list_to_be_sorted if len(line[3][0])<=3]
    second_portion=sorted([line for line in list_to_be_sorted if line not in first_portion], key=sortbysize)
    newRows=newRows+first_portion+second_portion

df=pd.DataFrame(newRows,columns=['trace','admissible','matrix','decomp','length','final_position','commutator'])

Just a summary of what our new dataframes look like after all of that work

In [4]:
df.head()

,trace,admissible,matrix,decomp,length,final_position,commutator
0,18,True,"[[13, 8], [8, 5]]","[[1, -1], [-1, 1]]",4,"[0, 0]",1
1,46,False,"[[-59, 24], [-32, 13]]","[[1, -1], [-3, -1]]",6,"[0, -4]",0
2,46,False,"[[-43, 16], [8, -3]]","[[-3, -1], [1, -1]]",6,"[-4, 0]",0
3,62,False,"[[-55, 24], [16, -7]]","[[-2, -2], [1, -1]]",6,"[-4, 0]",0
4,62,False,"[[-71, 16], [-40, 9]]","[[1, -1], [-2, -2]]",6,"[0, -4]",0

In [5]:
df_traces.head()

   trace  admissible  L_class_number  commutator_class_number  walks
0     18        True               1                        1    4.0
1     46       False               2                        0    6.0
3     62       False               4                        0    8.0
7     66        True               2                        1    7.0
9     82       False               4                        0    8.0

In [6]:
df_traces.loc[df_traces.admissible==True].head()

    trace  admissible  L_class_number  commutator_class_number      walks
0      18        True               1                        1   4.000000
7      66        True               2                        1   7.000000
13    110        True               4                        2   9.000000
23    146        True               3                        1  10.666667
58    254        True              12                        2  13.333333

In [7]:
#save our new csv's to file
df.to_csv("../CSV/all_traces_converted.csv", index=False)
df.loc[df.admissible==True].to_csv("../CSV/admissible_traces_converted.csv", index=False)
df_traces.to_csv("../CSV/trace_only_converted.csv", index=False)
df_traces.loc[df_traces.admissible==True].to_csv("../CSV/admissible_trace_only_converted.csv", index=False)

In [8]:
df.loc[df.trace==110]

,trace,admissible,matrix,decomp,length,final_position,commutator
13,110,True,"[[-139, 56], [-72, 29]]","[[1, -1], [-7, -1]]",10,"[0, -8]",0
14,110,True,"[[-107, 40], [8, -3]]","[[-7, -1], [1, -1]]",10,"[-8, 0]",0
15,110,True,"[[-163, 72], [-120, 53]]","[[1, 1, -2], [-1, 2, -1]]",8,"[0, 0]",1
16,110,True,"[[-115, 24], [-24, 5]]","[[2, -1, -1], [1, 1, -2]]",8,"[0, 0]",1