# Converting csv's to better csv's
This code's purpose it to take the CSV's generated in mathematica and just fix the format to be more python friendly so that it doesn't have to be ran in every code.

In [1]:
import numpy as np
import pandas as pd
import ast
from itertools import groupby

In [2]:
# we will sort the row of the dataframe by the length i.e. column 4
def sortbysize(x):
    return x[4]

## This section will use the file info_on_all_traces.csv from Mathematica to make the conversions

Cleans up the dataframe about all the traces making matrices as a list of lists and same for decomposition and replaces final_position with a boolean variable for if the element is a commutator or not, and sorts the reps by length

In [3]:
#Choose between the same set of all traces in L or the second file which is
#just commutator traces from 25000- 100000 or those from 100000-150000
df=pd.read_csv("../CSV/info_on_traces.csv")
#df=pd.read_csv("../CSV/upto100000/allcommutatorsupto100000.csv")
df.columns=['trace','admissible','matrix','decomp','length','final_position']
df['commutator']= pd.get_dummies(df['final_position'])['{0, 0}']

#convert the form of the matrices and decompositions
replacement_column=[0]*len(df.trace)
matrix_replacement_column=[0]*len(df.trace)
finalposition=[0]*len(df.trace)
for i in range(0, len(df.trace)):
    replacement_column[i]=ast.literal_eval(df.decomp.values[i].replace("{", "[").replace("}", "]"))
    matrix_replacement_column[i]=ast.literal_eval(df.matrix.values[i].replace("{", "[").replace("}", "]")) 
    finalposition[i]=ast.literal_eval(df.final_position.values[i].replace("{", "[").replace("}", "]"))

df['matrix']= matrix_replacement_column
df['decomp']=replacement_column
df["final_position"]=finalposition

#create a dataframe with of [trace, admissible, class number in L, class number in Gamma'(2)]
df_traces=df.copy()
df_traces.drop_duplicates(subset ="trace", keep = "first", inplace = True)
df_traces=pd.DataFrame({"trace": df_traces.trace, "admissible": df_traces.admissible, 'L_class_number': df.groupby(df.trace).length.count().values, 'commutator_class_number':df.groupby(df.trace).commutator.sum().values, "walks":df.groupby(df.trace).length.mean().values })


#sort the decompositions by narrow length and then length
newRows=[]
for t in df_traces.trace.values:
    #grab all of the rows in the dataframe with the same trace
    list_to_be_sorted=df.loc[df.trace==t].values.tolist()
    #if the number of pairs of powers of a and powers of b are small enough, then clearly this is
    # a 1-commutator and should be saved first
    first_portion=[line for line in list_to_be_sorted if len(line[3][0])<=3]
    second_portion=sorted([line for line in list_to_be_sorted if line not in first_portion], key=sortbysize)
    newRows=newRows+first_portion+second_portion

df=pd.DataFrame(newRows,columns=['trace','admissible','matrix','decomp','length','final_position','commutator'])

Just a summary of what our new dataframes look like after all of that work

In [4]:
df.head()

,trace,admissible,matrix,decomp,length,final_position,commutator
0,100078,True,"[[-98315, 63912], [2712, -1763]]","[[-18, 17, 1], [-2, 3, -1]]",42,"[0, 0]",1
1,100078,True,"[[-98315, 2712], [63912, -1763]]","[[-1, 3, -2], [1, 17, -18]]",42,"[0, 0]",1
2,100078,True,"[[-90155, 59832], [14952, -9923]]","[[-3, 2, 1], [-17, 18, -1]]",42,"[0, 0]",1
3,100078,True,"[[-90155, 14952], [59832, -9923]]","[[-1, 18, -17], [1, 2, -3]]",42,"[0, 0]",1
4,100078,True,"[[-93779, 53160], [11112, -6299]]","[[-4, -2, 1, 3, 2], [-1, 1, -1, 2, -1]]",18,"[0, 0]",1

In [5]:
df_traces.head()

      trace  admissible  L_class_number  commutator_class_number      walks
0    100078        True              96                     96.0  23.041667
96   100098        True             134                    134.0  22.149254
230  100114        True              60                     60.0  22.400000
290  100206        True             124                    124.0  20.322581
414  100242        True             122                    122.0  22.360656

In [6]:
df_traces.loc[df_traces.admissible==True].head()

      trace  admissible  L_class_number  commutator_class_number      walks
0    100078        True              96                     96.0  23.041667
96   100098        True             134                    134.0  22.149254
230  100114        True              60                     60.0  22.400000
290  100206        True             124                    124.0  20.322581
414  100242        True             122                    122.0  22.360656

In [7]:
#save our new csv's to file depending on which file you imported in, 
#either leave these 4 lines or comment them out and uncomment the last two line
df.to_csv("../CSV/all_traces_converted.csv", index=False)
df.loc[df.admissible==True].to_csv("../CSV/admissible_traces_converted.csv", index=False)
df_traces.to_csv("../CSV/trace_only_converted.csv", index=False)
df_traces.loc[df_traces.admissible==True].to_csv("../CSV/admissible_trace_only_converted.csv", index=False)
#df.loc[df.admissible==True].to_csv("../CSV/upto100000/admissible_traces_converted100000.csv", index=False)
#df_traces.loc[df_traces.admissible==True].to_csv("../CSV/upto100000/admissible_trace_only_converted100000.csv", index=False)

In [8]:
df.loc[df.trace==110]

Empty DataFrame
Columns: [trace, admissible, matrix, decomp, length, final_position, commutator]
Index: []